# Ignore everything
/*

# But not the .gitignore itself
!.gitignore

# Allow the wp-content/themes path (need to unignore each level)
!/wp-content/
/wp-content/*
!/wp-content/themes/
/wp-content/themes/*

# Only track these two themes
!/wp-content/themes/seopress_api/
!/wp-content/themes/seopress_composer/

# Ignore node_modules everywhere
node_modules/