/*Faq*/
.vorteil-section {
    padding: 40px 0 60px;
}

.vorteile-container {
    max-width: 1000px;
    margin: 50px auto 70px;
    padding: 0 0 60px;
}
.vorteil-colum {
    min-height: 15em;
}

.vorteile-heading {
	font-size: xx-large;
	padding: 20px;
}

.vorteil-icon {
    width: 15%;
    float: left;
    margin-right: 20px;
}

.vorteil-heading {
    font-weight: 600;
    margin-top: 13px;
    font-size: larger;
}

.vorteil-content {
    margin-top: 0.3em;
}